<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Query Logs</title>
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
</head>
<body>
<h1>notupstream DNS query</h1>
<ul id="logs"></ul>

<script id="mustacheTemplate" type="text/template">
        {{#logs}}
        <li>{{id}} - {{t}} - {{qh}}</li>
        {{/logs}}
</script>
<script>
    const logsJson = JSON.parse("[{\"id\": \"id1\", \"t\": \"t1\", \"qh\": \"qh1\"}]");

    const template = document.getElementById('mustacheTemplate').innerHTML;
    const rendered = Mustache.render(template, { logs: logsJson });
    document.getElementById('logs').innerHTML = rendered;
</script>
</body>
</html>